* {
  box-sizing: border-box;
}

html {
  --color_box: #ded2c3;
  --bagground_col: #f9f6ee;
  --font_col: #212427;
  --primary_font: "Gambarino", serif;
  --secondary_font: "Switzer", sans-serif;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: var(--bagground_col);
  color: var(--font_col);
  font-family: var(--secondary_font);
  margin: 0;
}

h1 {
  font-family: var(--primary_font);
  font-size: 300%;
}

h2 {
  font-family: var(--primary_font);
  font-size: 150%;
}

h3,
p,
li {
  font-size: 100%;
  line-height: 170%;
}


/* HEADER + MENU */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  
}

.logo img {
  display: block;
  margin: 0 auto;
  width: 30%;
  height: 30%;
}

.logo {
  padding-left: 4%;

}
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-family: var(--secondary_font);
  font-weight: 600;
  margin-top: 3%;
}

.menu a:hover {
  color: #f1d9e4;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #333;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (min-width: 0px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}

/* FOOTER */

footer {
  width: 100%;
  padding: 0 2% 0 2%;
  color: #9b8f81;
}

.f_txt1 {
  color: #7a654e;
}

#con_2_3 {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  column-gap: 5%;
  background-color: var(--color_box);
  padding: 3%;
}

#con_2_3_a {
  grid-column: 1;
}

#con_2_3_b {
  grid-column: 2;
}

#con_2_3_c {
  grid-column: 3;
}

#times {
  list-style: none;
  line-height: 250%;
}

#icon_2 {
  display: flex;
  justify-content: center;
}

#icon_1{
  display: none;
}

@media (max-width: 768px) {
  h1 {
    font-family: var(--primary_font);
    font-size: 150%;
  }

  h2 {
    font-family: var(--primary_font);
    font-size: 90%;
  }

  /***************FOOTER***************/
  h3,
  p,
  li {
    font-family: var(--secondary_font);
    font-size: 70%;
  }

     #con_2_3 {
      display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: 1fr auto;
        row-gap: 5%;
        column-gap: 0;
     }
  
     #con_2_3_b {
       grid-row: 1;
       grid-column: 2;
     }
  
     #con_2_3_c {
       grid-row: 2;
       justify-self: center;
       grid-column: 1/span2;
       padding-bottom: 5%;
}

#icon_1 {
  display: flex;
  justify-content: center;
}

#icon_2 {
  display: none;
}
}