h1 {
  text-align: center;
}


.con{
  display: grid;
  margin-bottom: 5%;
  
}

.grid_1_1{
  color: #7a654e;
  background-color: #ded2c3;
  padding: 5%;
  width: 80%;
  justify-self: center;
  display: grid;
}

#info123{
  justify-self: center;
}

#myButton2 {
  margin-top: 20px;
}

.custom-button {
  background-color: #f1d9e4c8;
  font-family: var(--secondary_font);
  color: var(--font_col);
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 70%;
  text-align: center;
}

.custom-button:hover {
  background-color: #f1d9e4;
}


@media (min-width: 768px) {
.grid_1_1 {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
#img1{
width: 70%;
height: auto;
}

}
